@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #202124;
}


li {
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.nav_links{
    margin-right: 10px;
    padding: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_links li{
    font-size: 10px;
    display: inline;
}

.item{
    text-decoration: none;
}

.item:link{
    color: black;
    font-weight: 500;
    margin-left: 10px;
}

.item:hover{
    color: white;
}

.search-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 300px;
}

.content-container{
    margin-bottom: 3em;
    padding: 1em 5em;
    background-color: #202124;
    text-align: center;
}

#input{
    border-radius: 10px;
    border: none;
    font-size: 0.55em;
    padding: 5px 0;
    padding-left: 10px;
    margin-top: 1.2em;
}

#btn-container{
    margin-top: 1em;
}

.text{
    font-size: 2.5em;
    font-weight: 700;
    color: #040200;
}

.yellow{
    color: #FFBF00;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.red{
    color: red;
}

#input{
    width: 100%;
}

.btn{
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 10px;
    background-color: #303134;
    color: white;
    border: 0.5px #303134 solid;
}

.btn:hover{
    border: 0.5px solid white;
    cursor: pointer;
}

